<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBEl0Fup29ciuYrEX-3geUb7LU7v0xkEc</string>
	<key>GCM_SENDER_ID</key>
	<string>73350727897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finder</string>
	<key>PROJECT_ID</key>
	<string>doc-finder-e13d0</string>
	<key>STORAGE_BUCKET</key>
	<string>doc-finder-e13d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73350727897:ios:c3ff79279e6babf85596c8</string>
</dict>
</plist>